%% -*- erlang -*-

{verbose, 3}.

{pre_hooks, [
	     {compile, "./setup.sh"}, %% XXX this is ugly
	     {clean,   "rm -f priv/valgrind-tests"}
	    ]}.

{deps, [
	{exec, ".*", {git, "https://github.com/oliv3/erlexec.git", "master"}},
	{erlubi, ".*", {git, "https://github.com/oliv3/erlubi.git", "master"}},
	{p1_xml, ".*", {git, "git://github.com/processone/xml"}, [raw]}
       ]}.

{escript_emu_args, "%%! +K true -pa ebin -pa deps/exec/ebin -pa deps/erlubi/ebin -pa deps/xmlrpc/ebin -pa deps/p1_xml/ebin\n"}.

{erl_opts, [debug_info]}.
